<%= form_with(method: :get, class: "contents", html: {id: "search_form"}, authenticity_token: false) do %>
<% end %>

<%= form_with(model: meal_plan, class: "contents") do |form| %>
  <% if meal_plan.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(meal_plan.errors.count, "error") %> prohibited this meal_plan from being saved:</h2>

      <ul>
        <% meal_plan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-2 gap-x-8">
    <div>
      <%= label_tag :recipe_search, "Recipe search:", form: "search_form" %>
      <%= search_field_tag :recipe_search, params[:recipe_search], form: "search_form" %>

      <ul>
        <% @recipes.each do |recipe| %>
          <li>
            <%= label_tag "add_recipe_#{recipe.id}", class: "flex justify-between" do %>
              <span class="py-2 px-4"><%= recipe.name %></span>
              <%= button_tag "Add", type: "submit", id: "add_recipe_#{recipe.id}", name: "add_recipe_id", value: recipe.id, class: "max-h-12 mt-2 rounded-lg py-3 px-5 text-white bg-green-400 font-medium" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= label_tag :meal_plan_search, "Meal plan search:", form: "search_form" %>
      <%= search_field_tag :meal_plan_search, params[:meal_plan_search], form: "search_form" %>

      <ul>
        <% @meal_plan.recipes.each do |recipe| %>
          <li>
            <%= label_tag "remove_recipe_#{recipe.id}", class: "flex justify-between" do %>
              <span class="py-2 px-4"><%= recipe.name %></span>
              <%= button_tag "Remove", type: "submit", id: "remove_recipe_#{recipe.id}", name: "remove_recipe_id", value: recipe.id, class: "max-h-12 mt-2 rounded-lg py-3 px-5 text-white bg-green-400 font-medium" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= submit_tag "Search", form: "search_form", class: "hidden" %>
  </div>

  <div class="inline">
  </div>
<% end %>
